
body {
    background: linear-gradient(135deg, #a8edea, #fed6e3);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    justify-content: center;
    position: relative;
}

footer {
    cursor: pointer;
    user-select: none;
}

h1 {
    color: #0077b6;
    margin-top: 20px;
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    font-family: Arial;
}

.out {
    color: #0077b6;
    cursor: copy;
    font-family: Arial;
}

main {
    /*background: linear-gradient(135deg, #caf0f8, #90e0ef);*/
    padding: 0px 10px 0px 10px;
    margin-top: 1vh;
    max-width: 30vw;
    border-radius: 1rem;
    /*box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);*/
    overflow: auto;
    user-select: none;
    display: flex;
}

main::-webkit-scrollbar {
    height: 7px;
    background: #caf0f8;
    border-radius: 1rem;
}

main::-webkit-scrollbar-track {

}

main::-webkit-scrollbar-thumb {
    width: auto;
    border-radius: 1rem;
    background-color: rgb(105, 197, 255);
}

div {
    background: linear-gradient(135deg, #caf0f8, #90e0ef);
    padding: 40px;
    border-radius: 1rem;
    border: 2px solid #00b4d8;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 600px;
    margin: 20px;
    user-select: none;

}

input {
    height: 40px;
    width: 25vw;
    max-width: 300px;
    background: linear-gradient(135deg, #ade8f4, #48cae4);
    border-radius: 1rem;
    border: 2px solid #00b4d8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding: 0 10px;
}

input:focus{
    outline: none;
    border-color: #0077b6;
}

@media (max-width: 1000px) {
    h1 {
        font-size: 2rem;
        margin-top: 10px;
    }

    div {
        padding: 30px;
        height: 55%;
    }

    input {
        height: 35px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
        margin-top: 10px;
    }

    div {
        padding: 30px;
        height: 60%;
    }

    input {
        height: 35px;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 1.5rem;
        margin-top: 5px;
    }

    div {
        padding: 20px;
        height: 85%
    }

    input {
        height: 30px;
    }
}
